<!DOCTYPE html>
<html lang="pt−BR" xmlns:th="http://www.thymeleaf.org">

<head><meta charset="UTF−8"><title>Habilidades − Lista</title></head>

<body>
    <h1>Habilidades</h1>

    <!−− Mensagem de sucesso −−>
    <p th:if="${msg}" th:text="${msg}"></p>

    <p><a th:href="@{/habilidades/nova}">Nova Habilidade</a></p>

    <!−− Tabela −−>
    <table>
        <tr>
            <th>Nome</th> <th>Tipo</th> <th>Pré-Requisitos</th> <th>Descrição</th> <th>Ações</th>
        </tr>
        <tr th:each="h : ${habilidades}">
            <td th:text="${h.nome}"></td>
            <td th:text="${h.tipo}"></td>
            <td th:text="${h.pre_requisitos}"></td>
            <td th:text="${h.descricao}"></td>
            <td>
                <form th:action="@{/habilidades/editar/{id}(id=${h.id})}"
                      method="get">
                    <button type="submit">Editar</button>
                </form>
                <form th:action="@{/habilidades/{id}(id=${h.id})}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>